@{ var error = TempData["paypal-ec-error"]; }

@using (Html.BeginRouteForm("Plugin.Payments.PayPalExpressCheckout.SubmitButton", FormMethod.Post, new { id = "form-payPalExpressCheckout" }))
{
    <img id="payPalExpressCheckoutImage" alt="" src="/Plugins/Payments.PayPalExpressCheckout/Images/mobile-checkout.png" style="cursor:pointer;" />
}
@if (error != null)
{
    <p class="error">@error</p>
}
<script type="text/javascript">

    $(document).ready(function () {
        $('#payPalExpressCheckoutImage').click(function () {
            $("#form-payPalExpressCheckout").submit();
        });
    });
</script>
